*.pyc
*.pyo
*.beam
.DS_Store
Desktop.ini
Thumbs.db
.Trashes
*.sw?
.tool-versions
.sass-cache
npm-debug.log*
*.bak
*.o
*.so

# .secret.exs is where I put my secret stuff for elixir projects
.secret.exs

tmuxinator.bash
