[user]
  name = techgaun
  email = coolsamar207@gmail.com
  signingkey = 221F7B30

[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
  c = clone --recursive --depth 50
  l = log --decorate --pretty=oneline -n 20 --graph --abbrev-commit
  mc = clone --branch=master --depth 50
  s = status -s
  d = diff --cached
  patch = !git --no-pager diff --no-color

[commit]
  gpgsign = true

[diff "bin"]
  textconv = hexdump -v -C

[log]
  abbrevCommit = true
  decorate = true
  follow = true

[pull]
  rebase = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
