# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

# for ssh tunnelling, use -o ControlMaster=no
ControlMaster auto
ControlPath /tmp/ssh_mux_%h_%p_%r
ControlPersist 10m
TCPKeepAlive no
ServerAliveInterval 60
ServerAliveCountMax 10

# anything private put on ~/.ssh/config.local
Include ~/.ssh/config.local
